<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>

<div class="row justify-content-center mt-3">
    <div class="col-8">
        <h1 class="display-5" th:text="${boardTopic.getKorean()} + ' 게시판'"></h1>
        <hr/>
        <div class="container">
            <div class="list-group">
                <div class="list-group-item bg-dark-subtle">
                    <div class="row">
                        <span class="col-2">글 번호</span>
                        <span class="col-6">제목</span>
                        <span class="col-2">작성일</span>
                        <span class="col-2">작성자</span>
                    </div>
                </div>
                <a th:each="post : ${posts}" th:href="@{/board/post/{postId}?replyPage=1(postId=${post.id})}" class="list-group-item list-group-item-action">
                    <div class="row">
                        <span class="col-2" th:text="${post.id}"></span>
                        <span class="col-6" th:text="${post.title}"></span>
                        <span class="col-2" th:text="${#temporals.format(post.wroteAt, 'yyyy-MM-dd')}"></span>
                        <span class="col-2" th:text="${post.writer.nickname}"></span>
                    </div>
                </a>
            </div>
            <div class="mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="idx : ${#numbers.sequence(1, maxPageNumber)}" class="page-item"
                            th:classappend="${idx == pageNumber} ? 'active'">
                            <a class="page-link" th:href="@{/board/{topic}/{pageNumber}(topic=${boardTopic}, pageNumber=${idx})}" th:text="${idx}"></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <a sec:authorize="isAuthenticated()" class="btn btn-outline-primary right"
                    th:href="@{/board/{topic}/post/create(topic=${boardTopic})}">
                    글 작성
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>