<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>

<div class="row justify-content-center mt-3">
    <div class="col-7">
        <div class="mt-5">
            <span class="display-6" th:text="${post.title}"></span>
            <span class="right" th:text="${post.boardTopic.getKorean() + ' 게시판'}"></span>
        </div>
        <hr/>
        <div class="right">
            <div>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span th:text="${post.writer.nickname}"></span>
            </div>
            <div>
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span th:text="${#temporals.format(post.wroteAt, 'yyyy/MM/dd HH:mm')}"></span>
            </div>
            <div>
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span th:text="${post.views} + ' views'"></span>
            </div>
        </div>
        <br/><br/><br/>
        <div class="container my-5">
            <p class="lead" th:text="${post.content}"></p>
        </div><br/><br/>
        <hr/>
        <div class="container mt-3">
            <ul class="list-group list-group-flush">
                <li th:each="reply: ${replies}" class="list-group-item fs-6">
                    <div class="row">
                        <div class="col-2 fw-semibold">
                            <span th:text="${reply.account.nickname}"></span>
                        </div>
                        <div class="col-9">
                            <span th:text="${reply.content}"></span>
                        </div>
                        <div class="col-1">
                            <form th:if="${#authentication.principal.username == reply.account.username}" method="post"
                                th:action="@{/reply/delete/{postId}/{replyId}(postId=${post.id}, replyId=${reply.id})}"
                                class="m-0">
                                <button class="btn btn-link p-0 m-0 text-danger" style="text-decoration: none">X</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <form th:action="@{/reply/create/{postId}(postId=${post.id})}"
              class="row justify-content-center mt-3" method="post" id="reply-form">
            <div class="col-10">
                <textarea class="form-control" name="reply" style="resize: none; height: 80px" required></textarea>
            </div>
            <div class="col-1">
                <input class="btn btn-outline-primary" type="submit" value="등록" style="height: 80px">
            </div>
        </form>
    </div>
</div>

</body>
</html>