<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>

<div class="row justify-content-center mt-3">
    <div class="col-7">
        <div class="mt-5">
            <span class="display-6" th:text="${post.title}"></span>
            <span class="right" th:text="${post.boardTopic.getKorean() + ' 게시판'}"></span>
        </div>
        <hr/>
        <div class="right">
            <div>
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span th:text="${post.writer.nickname}"></span>
            </div>
            <div>
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span th:text="${#temporals.format(post.wroteAt, 'yyyy/MM/dd HH:mm')}"></span>
            </div>
            <div>
                <i class="fa fa-eye" aria-hidden="true"></i>
                <span th:text="${post.views} + ' views'"></span>
            </div>
        </div>
        <br/><br/><br/>
        <div class="container my-5">
            <p class="lead" th:text="${post.content}"></p>

        </div>
        <div class="right" th:if="${isOwner}">
            <a th:href="@{/board/post/update/{postId}(postId=${post.id})}" class="btn btn-outline-success btn-sm">수정</a>
            <button class="btn btn-outline-danger btn-sm" onclick="postDelete()">삭제</button>
        </div><br/><br/>
        <hr/>
        <div class="container mt-3">
            <ul class="list-group list-group-flush">
                <li th:each="reply: ${replies}" class="list-group-item fs-6">
                    <div class="row">
                        <div class="col-2 fw-semibold">
                            <span th:text="${reply.account.nickname}"></span>
                        </div>
                        <div class="col-9">
                            <span th:text="${reply.content}"></span>
                        </div>
                        <div class="col-1">
                            <form th:if="${#authentication.principal.username == reply.account.username}" method="post"
                                th:action="@{/reply/delete/{postId}/{replyId}(postId=${post.id}, replyId=${reply.id})}"
                                class="m-0">
                                <button class="btn btn-link p-0 m-0 text-danger" style="text-decoration: none">X</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right">
            <ul class="pagination pagination-sm">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="idx : ${#numbers.sequence(1, maxReplyPageNumber)}"
                    class="page-item" th:classappend="${#strings.equals(#request.getParameter('replyPage'), idx)} ? 'active'">
                    <a class="page-link" th:href="@{/board/post/{postId}?replyPage={replyPageNum}(postId=${post.id}, replyPageNum=${idx})}" th:text="${idx}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
        <form th:action="@{/reply/create/{postId}(postId=${post.id})}"
              class="row justify-content-center mt-3 mb-5" method="post" id="reply-form">
            <div class="col-10">
                <textarea class="form-control" name="reply" style="resize: none; height: 80px" required></textarea>
            </div>
            <div class="col-1">
                <input class="btn btn-outline-primary" type="submit" value="등록" style="height: 80px">
            </div>
        </form>
    </div>
</div>

<script th:inline="javascript">
    function postDelete() {
        const postId = /*[[${postId}]]*/;
        const boardTopic = /*[[${post.getBoardTopic()}]]*/;
        const csrfToken = Cookies.get('XSRF-TOKEN');

        if(confirm("이 게시글을 삭제합니다.") === true) {
            $.ajax({
                url: '/board/post/delete/' + postId + "/" + boardTopic,
                type: "POST",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-XSRF-TOKEN', csrfToken);
                },
                success: function (data) {
                    document.location.href = data;
                },
                error: function (xhr, status, error) {
                    console.error(error);
                },
            })
        }
    }
</script>

</body>
</html>