<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <div class="bg-light radius px-3 py-2">
                <div class="fs-5">경기</div>
                <div th:if="${match.id != null}">
                    <div class="row justify-content-center my-3">
                        <div class="col-5">
                            <img th:if="${match.matchStadium == 'SJ'}" src="/images/logos/LOT.jpg" alt="우리팀" class="team-logo"/>
                            <img th:unless="${match.matchStadium == 'SJ'}" th:src="@{/images/logos/{team}.jpg(team=${match.opposingTeam})}" alt="상대팀" class="team-logo"/>
                            <h1 class="fs-6 text-center">HOME</h1>
                            <div th:if="${match.matchStadium == 'SJ'}" class="fs-6 text-center text-success">롯데 자이언츠</div>
                            <div th:unless="${match.matchStadium == 'SJ'}" class="fs-6 text-center" th:text="${match.opposingTeam.getFullName()}"></div>
                        </div>
                        <div class="col-1 my-auto">
                            VS
                        </div>
                        <div class="col-5">
                            <img th:if="${match.matchStadium == 'SJ'}" th:src="@{/images/logos/{team}.jpg(team=${match.opposingTeam})}" alt="상대팀" class="team-logo"/>
                            <img th:unless="${match.matchStadium == 'SJ'}" src="/images/logos/LOT.jpg" alt="우리팀" class="team-logo"/>
                            <h1 class="fs-6 text-center">AWAY</h1>
                            <div th:if="${match.matchStadium == 'SJ'}" class="fs-6 text-center" th:text="${match.opposingTeam.getFullName()}"></div>
                            <div th:unless="${match.matchStadium == 'SJ'}" class="fs-6 text-center text-success">롯데 자이언츠</div>
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <div class="fs-4" th:text="${match.matchStadium.getFullName()}"></div>
                        <div class="fs-5" th:text="${#temporals.format(match.matchDateTime, 'HH시 mm분')}"></div>
                    </div>
                </div>
                <div th:unless="${match.id != null}">
                    <div class="row justify-content-center mb-3">
                        <div class="col-6">
                            <img src="/images/logos/LOT.jpg" alt="우리팀" class="team-logo"/>
                        </div>
                    </div>
                    <div class="fs-4 mb-3 text-center">오늘 경기 없음</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-light radius px-3 py-2">
                <div class="mb-3">
                    <span class="fs-5" th:text="${match.matchStadium.getShortName()} +'의 현재 날씨'"></span>
                    <span class="fs-6 right" th:text="${#dates.format(#dates.createNow(), 'yyyy/MM/dd(EE) HH:mm')}"></span>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div>
                            <img th:src="@{/images/weather/SKY_{value}.jpg(value=${nowWeather.getValue('SKY')})}" width="100" height="100" alt="하늘"/>
                        </div>
                        <div>기온 : <span th:text="${nowWeather.getValue('TMP')}"></span>°C</div>
                    </div>
                    <div class="col-4">
                        <div>
                            <img src="/images/weather/WND.jpg" width="100" height="100" alt="풍속"/>
                        </div>
                        <div>풍속 : <span th:text="${nowWeather.getValue('WSD')}"></span>m/s</div>
                    </div>
                    <div class="col-4">
                        <div>
                            <img th:src="@{/images/weather/PTY_{value}.jpg(value=${nowWeather.getValue('PTY')})}" width="100" height="100" alt="강수 타입"/>
                        </div>
                        <div>
                            강수 확률 : <span th:text="${nowWeather.getValue('POP')}"></span>%
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-light radius px-3 py-2 mt-4">
                <div class="mb-3">
                    <span class="fs-5">경기 예정 시각 날씨</span>
                    <span class="fs-6 right" th:text="${#temporals.format(match.matchDateTime, 'yyyy/MM/dd(EE) HH:mm')}"></span>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div>
                            <img th:src="@{/images/weather/SKY_{value}.jpg(value=${matchWeather.getValue('SKY')})}" width="100" height="100" alt="하늘"/>
                        </div>
                        <div>기온 : <span th:text="${matchWeather.getValue('TMP')}"></span>°C</div>
                    </div>
                    <div class="col-4">
                        <div>
                            <img src="/images/weather/WND.jpg" width="100" height="100" alt="풍속"/>
                        </div>
                        <div>풍속 : <span th:text="${matchWeather.getValue('WSD')}"></span>m/s</div>
                    </div>
                    <div class="col-4">
                        <div>
                            <img th:src="@{/images/weather/PTY_{value}.jpg(value=${matchWeather.getValue('PTY')})}" width="100" height="100" alt="강수 타입"/>
                        </div>
                        <div>
                            강수 확률 : <span th:text="${matchWeather.getValue('POP')}"></span>%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<style>
    .team-logo {
        width: 100%;
        border-radius: 15px;
    }
</style>