<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <div class="bg-light radius px-3 py-2">
                <div class="fs-5">경기</div>
                <div th:if="${match.id != null}">
                    <div class="row justify-content-center my-3">
                        <div class="col-5">
                            <img th:if="${match.matchStadium.name() == 'SJ'}" src="/images/logos/LOT.jpg" alt="우리팀" class="team-logo"/>
                            <img th:unless="${match.matchStadium.name() == 'SJ'}" th:src="@{/images/logos/{team}.jpg(team=${match.opposingTeam})}" alt="상대팀" class="team-logo"/>
                            <h1 class="fs-6 text-center">HOME</h1>
                            <div th:if="${match.matchStadium.name() == 'SJ'}" class="fs-6 text-center text-success">롯데 자이언츠</div>
                            <div th:unless="${match.matchStadium.name() == 'SJ'}" class="fs-6 text-center" th:text="${match.opposingTeam.getFullName()}"></div>
                        </div>
                        <div class="col-1 my-auto">
                            VS
                        </div>
                        <div class="col-5">
                            <img th:if="${match.matchStadium.name() == 'SJ'}" th:src="@{/images/logos/{team}.jpg(team=${match.opposingTeam})}" alt="상대팀" class="team-logo"/>
                            <img th:unless="${match.matchStadium.name() == 'SJ'}" src="/images/logos/LOT.jpg" alt="우리팀" class="team-logo"/>
                            <h1 class="fs-6 text-center">AWAY</h1>
                            <div th:if="${match.matchStadium.name() == 'SJ'}" class="fs-6 text-center" th:text="${match.opposingTeam.getFullName()}"></div>
                            <div th:unless="${match.matchStadium.name() == 'SJ'}" class="fs-6 text-center text-success">롯데 자이언츠</div>
                        </div>
                    </div>
                    <div class="text-center mb-3">
                        <div class="fs-4" th:text="${match.matchStadium.getFullName()}"></div>
                        <div class="fs-5" th:text="${#temporals.format(match.matchDateTime, 'HH시 mm분')}"></div>
                    </div>
                </div>
                <div th:unless="${match.id != null}">
                    <div class="row justify-content-center mb-3">
                        <div class="col-6">
                            <img src="/images/logos/LOT.jpg" alt="우리팀" class="team-logo"/>
                        </div>
                    </div>
                    <div class="fs-4 mb-3 text-center">오늘 경기 없음</div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="bg-light radius px-3 py-2">
                <div class="mb-3">
                    <span class="fs-5" th:text="${match.matchStadium.getShortName()} +'의 현재 날씨'"></span>
                    <span class="fs-6 right" th:text="${#dates.format(#dates.createNow(), 'yyyy/MM/dd(EE) HH:mm')}"></span>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div>
                            <img th:src="@{/images/weather/SKY_{value}.jpg(value=${nowWeather.getValue('SKY')})}" width="100" height="100" alt="하늘"/>
                        </div>
                        <div>기온 : <span th:text="${nowWeather.getValue('TMP')}"></span>°C</div>
                    </div>
                    <div class="col-4">
                        <div>
                            <img src="/images/weather/WND.jpg" width="100" height="100" alt="풍속"/>
                        </div>
                        <div>풍속 : <span th:text="${nowWeather.getValue('WSD')}"></span>m/s</div>
                    </div>
                    <div class="col-4">
                        <div>
                            <img th:src="@{/images/weather/PTY_{value}.jpg(value=${nowWeather.getValue('PTY')})}" width="100" height="100" alt="강수 타입"/>
                        </div>
                        <div>
                            강수 확률 : <span th:text="${nowWeather.getValue('POP')}"></span>%
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-light radius px-3 py-2 mt-4">
                <div th:if="${match.id != null}">
                    <div class="mb-3">
                        <span class="fs-5">경기 예정 시각 날씨</span>
                        <span class="fs-6 right" th:text="${#temporals.format(match.matchDateTime, 'yyyy/MM/dd(EE) HH:mm')}"></span>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div>
                                <img th:src="@{/images/weather/SKY_{value}.jpg(value=${matchWeather.getValue('SKY')})}" width="100" height="100" alt="하늘"/>
                            </div>
                            <div>기온 : <span th:text="${matchWeather.getValue('TMP')}"></span>°C</div>
                        </div>
                        <div class="col-4">
                            <div>
                                <img src="/images/weather/WND.jpg" width="100" height="100" alt="풍속"/>
                            </div>
                            <div>풍속 : <span th:text="${matchWeather.getValue('WSD')}"></span>m/s</div>
                        </div>
                        <div class="col-4">
                            <div>
                                <img th:src="@{/images/weather/PTY_{value}.jpg(value=${matchWeather.getValue('PTY')})}" width="100" height="100" alt="강수 타입"/>
                            </div>
                            <div>
                                강수 확률 : <span th:text="${matchWeather.getValue('POP')}"></span>%
                            </div>
                        </div>
                    </div>
                </div>
                <div th:unless="${match.id != null}">
                    <div class="text-center fs-4 py-5">
                        오늘 경기 없음
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-10 bg-light radius px-3 py-3">
            <div th:if="${match.id != null}">
                <div class="row">
                    <div class="col-2 text-center my-auto">
                        <button type="button" class="btn btn-primary" onclick="voteWinTeam(true)">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="fs-4 my-1 text-center col-8">승리 예측</div>
                    <div class="col-2 text-center my-auto">
                        <button type="button" class="btn btn-danger" onclick="voteWinTeam(false)">
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="row justify-content-center mb-3">
                    <div class="col-2 fs-5 text-center">
                        <div>롯데 자이언츠</div>
                        <div class="fs-6" id="homeVotes" th:text="${match.getOurVotes()}"></div>
                    </div>
                    <div class="col-8 fs-5 my-auto">
                        <div class="progress-stacked">
                            <div class="progress" role="progressbar" aria-label="Segment one" th:style="${'width: ' + homeRate +'%'}">
                                <div class="progress-bar progress-bar-striped progress-bar-animated"></div>
                            </div>
                            <div class="progress" role="progressbar" aria-label="Segment two" th:style="${'width: ' + awayRate +'%'}">
                                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 fs-5 text-center">
                        <div th:text="${match.opposingTeam.getFullName()}"></div>
                        <div class="fs-6" id="awayVotes" th:text="${match.getOpponentVotes()}"></div>
                    </div>
                </div>
            </div>

            <div class="container mt-3">
                <ul class="list-group list-group-flush">
                    <li th:each="reply: ${replies}" class="list-group-item fs-6">
                        <div class="row">
                            <div class="col-2 fw-semibold">
                                <span th:text="${reply.account.nickname}"></span>
                            </div>
                            <div class="col-9">
                                <span th:text="${reply.content}"></span>
                            </div>
                            <div class="col-1">
                                <form th:if="${#authentication.principal.username == reply.account.username}" method="post"
                                      th:action="@{/reply/delete/match/{replyId}(replyId=${reply.id})}"
                                      class="m-0">
                                    <button class="btn btn-link p-0 m-0 text-danger" style="text-decoration: none">X</button>
                                </form>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <form th:action="@{/reply/create/match}"
                    class="row justify-content-center mt-3" method="post" id="reply-form">
                <div class="col-10">
                    <textarea class="form-control" name="reply" style="resize: none; height: 80px" required></textarea>
                </div>
                <div class="col-1">
                    <input class="btn btn-outline-primary" type="submit" value="등록" style="height: 80px">
                </div>
            </form>
        </div>
    </div>
</div>

</body>

<script>
    function voteWinTeam(isHome) {
        const votes = isHome ? document.querySelector('#homeVotes') : document.querySelector('#awayVotes');
        const csrfToken = Cookies.get('XSRF-TOKEN');

        $.ajax({
            url: '/match/vote',
            type: 'POST',
            contentType: 'application/json',
            beforeSend: function(xhr) {
                xhr.setRequestHeader('X-XSRF-TOKEN', csrfToken);
            },
            data: JSON.stringify({
                isHome: isHome,
            }),
            success: function (data) {
                votes.innerHTML = data;
            },
            error: function (xhr, status, error) {
                console.error(error);
            },
        });
    }
</script>
</html>

<style>
    .team-logo {
        width: 100%;
        border-radius: 15px;
    }
</style>