<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navbar"></nav>

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-10 bg-light radius px-3 py-3">
            <div class="row justify-content-center">
                <div class="col-8 text-center">
                    <div class="fs-4 my-3">현재 예상 라인업</div>
                    <table class="table bg-white table-striped-columns">
                        <thead>
                        <tr class="bg-secondary">
                            <th scope="col">타순</th>
                            <th scope="col">1순위</th>
                            <th scope="col">포지션</th>
                            <th scope="col">득표</th>
                            <th scope="col">2순위</th>
                            <th scope="col">포지션</th>
                            <th scope="col">득표</th>
                            <th scope="col">3순위</th>
                            <th scope="col">포지션</th>
                            <th scope="col">득표</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>황성빈</td>
                            <td>CF</td>
                            <td>10000</td>
                            <td>황성빈</td>
                            <td>CF</td>
                            <td>10000</td>
                            <td>황성빈</td>
                            <td>CF</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>고승민</td>
                            <td>RF</td>
                            <td>10000</td>
                            <td>고승민</td>
                            <td>RF</td>
                            <td>10000</td>
                            <td>고승민</td>
                            <td>RF</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>렉스</td>
                            <td>LF</td>
                            <td>10000</td>
                            <td>렉스</td>
                            <td>LF</td>
                            <td>10000</td>
                            <td>렉스</td>
                            <td>LF</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>한동희</td>
                            <td>3B</td>
                            <td>10000</td>
                            <td>한동희</td>
                            <td>3B</td>
                            <td>10000</td>
                            <td>한동희</td>
                            <td>3B</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>전준우</td>
                            <td>DH</td>
                            <td>10000</td>
                            <td>전준우</td>
                            <td>DH</td>
                            <td>10000</td>
                            <td>전준우</td>
                            <td>DH</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>안치홍</td>
                            <td>2B</td>
                            <td>10000</td>
                            <td>안치홍</td>
                            <td>2B</td>
                            <td>10000</td>
                            <td>안치홍</td>
                            <td>2B</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>노진혁</td>
                            <td>SS</td>
                            <td>10000</td>
                            <td>노진혁</td>
                            <td>SS</td>
                            <td>10000</td>
                            <td>노진혁</td>
                            <td>SS</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>정훈</td>
                            <td>1B</td>
                            <td>10000</td>
                            <td>정훈</td>
                            <td>1B</td>
                            <td>10000</td>
                            <td>정훈</td>
                            <td>1B</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>유강남</td>
                            <td>C</td>
                            <td>10000</td>
                            <td>유강남</td>
                            <td>C</td>
                            <td>10000</td>
                            <td>유강남</td>
                            <td>C</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <th scope="row">-</th>
                            <td>스트레일리</td>
                            <td>P</td>
                            <td>10000</td>
                            <td>스트레일리</td>
                            <td>P</td>
                            <td>10000</td>
                            <td>스트레일리</td>
                            <td>P</td>
                            <td>10000</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-4 text-center">
                    <form>
                        <div class="fs-4 my-3">예상 라인업 투표하기</div>
                        <table class="table bg-white">
                            <thead>
                            <tr>
                                <th scope="col">타순</th>
                                <th scope="col">타자</th>
                                <th scope="col">포지션</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="num : ${#numbers.sequence(0, 8)}">
                                <th scope="row" th:text="${num + 1}"></th>
                                <td>
                                    <select th:id="batterSelect + ${num}" class="form-select form-select-sm" aria-label="Default select example">
                                        <option selected>-</option>
                                        <option th:id="${info.index}" th:each="batter, info : ${batterList}" th:value="${batter}" th:text="${batter.getName() + ' (' + batter.getBackNumber()} + ')'"></option>
                                    </select>
                                </td>
                                <td>
                                    <select th:id="positionSelect + ${num}" class="form-select form-select-sm" aria-label="Default select example" disabled>
                                        <option selected>-</option>
                                    </select>
                                </td>
                                <td class="align-middle">
                                    <i th:id="clearBtn + ${num}" class="btn fa fa-minus-circle text-danger p-1 m-0" aria-hidden="true"></i>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <input id="submit" type="submit" class="btn btn-primary mt-3" value="투표하기" disabled />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const length = document.querySelectorAll("[id^='batterSelect']").length;
    const batterSelectedList = ['-', '-', '-', '-', '-', '-', '-', '-', '-'];
    const positionSelectedList = ['-', '-', '-', '-', '-', '-', '-', '-', '-'];

    for(let i = 0 ; i < length ; i++) {
        const batterSelect = document.getElementById("batterSelect" + i);
        const positionSelect = document.getElementById("positionSelect" + i);
        const clearBtn = document.getElementById("clearBtn" + i);

        batterSelect.addEventListener("change", function () {
            const idx = batterSelect.options[batterSelect.selectedIndex].id;
            positionSelect.innerHTML = '<option selected>-</option>';

            if(idx) {
                positionSelect.disabled = false;

                const batterList = /*[[${batterList}]]*/;
                const selectedBatter = batterList[idx];

                const positions = selectedBatter.positions;
                positions.push("DH");
                batterSelectedList[i] = idx;

                for (const position of positions) {
                    const option = document.createElement('option');
                    option.value = position;
                    option.text = position;
                    if(positionSelectedList.includes(position)) {
                        option.disabled = true;
                    }

                    positionSelect.add(option);
                }
            }
            else {
                positionSelect.disabled = true;

                batterSelectedList[i] = -1;
            }

            applyAllBatterSelectDisable();
        });

        positionSelect.addEventListener("change", function () {
            positionSelectedList[i] = positionSelect.value;
            const submit = document.querySelector('#submit');

            for (let j = 0; j < length; j++) {
                const p = document.getElementById("positionSelect" + j);
                const options = p.options;
                for (const option of options) {
                    option.disabled = !!positionSelectedList.includes(option.value);
                }
            }

            submit.disabled = positionSelectedList.includes('-');
        });

        clearBtn.addEventListener("click", function () {
            const submit = document.querySelector('#submit');

            positionSelect.innerHTML = '<option selected>-</option>';
            positionSelect.disabled = true;

            batterSelect.selectedIndex = 0;

            batterSelectedList[i] = -1;
            positionSelectedList[i] = '-';

            submit.disabled = true;

            applyAllBatterSelectDisable();
        });
    }

    function applyAllBatterSelectDisable() {
        for (let j = 0; j < length; j++) {
            const b = document.getElementById("batterSelect" + j);
            const options = b.options;
            for (const option of options) {
                option.disabled = !!batterSelectedList.includes(String(option.id));
            }
        }
    }

    /*]]>*/
</script>

</body>
</html>